# Data and models
data/*
models/raw/*
models/processed/*
!models/README.md

# Environments
venv/
.env

# Python
__pycache__/
*.pyc

# logs and outputs
logs/
results/

# Hugging  Face token
.huggingface/
